<section id="main" class="wrapper">
  <div class="container">
    <button class="js-next alt" data-id="<%= @trip.id%>">Next Trip</button>
		<header class="major special">
			<h2>Trip.<%= link_to @trip.name, @trip, :class => "tripName" %></h2>
  		<p>Creator: <%= link_to @trip.user.name, user_path(@trip.user), :class => "tripUser user_link" %></p>

  <a href="/trips/<%=@trip.id%>/categories" class="load_categories" data-id="<%= @trip.id%>">See Categories</a>
    <!--<button id="more-<%=@trip.id%>-trip" class="js-more" data-id="<%=@trip.id %>" onclick="moreInfo(this)">Show Categories</button> </br>
      <ul id="tripCatShow-<%=@trip.id%>"> </ul> -->
    <ul class="categories"> </ul>
    </header>

		<a href="#" class="image fit"><img src="https://images.unsplash.com/photo-1494587416117-f102a2ac0a8d?w=1500" alt="night city image"></a>
    <p class="tripContent"> <%= @trip.content %> </p>

    <% if current_user.id == @trip.user_id || current_user.role == 'admin' %>
      <td><%= link_to "Edit", edit_trip_path(@trip), :class => "edit_trip" %> | <%= link_to 'Delete', @trip, method: :delete, :class => "delete_trip", data: { confirm: 'Are you sure?' } %></td>

  <a href="/trips/<%=@trip.id%>/comments" class="load_comments" data-id="<%= @trip.id%>">See Comments</a>
  <%#= link_to "See Comments", trip_comments_path(@trip), :class => "load_comments" %><br>
    <ul class="comments">
    </ul>
    <ul class="newComment">
    </ul>
  <!--
    <div class="comments">
  <h2>Comments:</h2>
  <ul id="comments">
    <% @trip.comments.each do |comment|%>
      <li id="comment-<%=comment.id%>">
      <%= comment.text%>
      <button class="delete-comment" data="<%=comment.id%>">Delete</button>
      </li>
    <% end %>
  </ul>
</div> -->


    <%= form_for ([@trip, @comment]), :html => {:id => "form"} do |f| %>
      <label>Add a comment:</label>
      <%= f.text_field :text %>
      <span id="trip-field">
        <%= f.hidden_field :trip_id, value: @trip.id %>
      </span>
      <%= f.submit "Submit", id: "submit", :class => "new_comment" %>
      <% end %>

    <% end %>
  </div>
</section>
